.services-main {
  width: 80%;
  margin: 50px auto;
}

.services-heading-page {
  text-align: center;
}

.services-heading-page.h1 {
  text-align: center;
}
.services-heading-page.p {
  text-align: center;
}

.services-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin-top: 40px;
}

.services-section div {
  border: 1px solid rgb(130, 124, 124);
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  background-color: rgb(251, 251, 251);
}

.services-section p {
  text-align: left;
}
