.nav-bar {
  background: #fff;
  display: flex;
  justify-content: space-around;
  height: 100%;
  box-shadow: -3px 12px 11px -10px rgba(0, 0, 0, 0.75);
  position: relative;
}

.nav-bar.contact-us-page {
  background: #171926;
}

.nav-bar.contact-us-page a {
  color: white;
}

.uae-chauffeur-img {
  /* height: 90px; */
  height: 75px !important;
  /* width: 140px; */
  width: 80px !important;
  padding: 0 0 5px 0;
  margin-top: 5px;
}

.nav-elements > ul {
  display: flex;
  height: 100px;
  align-items: center;
  /* margin-top: 34px; */
}

.nav-elements ul > li {
  list-style: none;
  margin-right: 30px;
}

.nav-elements ul li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: black;
  transition: all 0.1s ease-out;
}

.nav-elements ul li a:hover {
  color: crimson;
}

select {
  padding: 10px;
}

select option {
  padding: 10px;
  font-size: 18px;
  font-weight: 600;
}

.mobile-menu-icon {
  font-size: 1.6rem !important;
  background-color: transparent !important;
  color: crimson !important;
  border: none !important;
  position: absolute !important;
  top: 40% !important;
  left: 90% !important;
  cursor: pointer !important;
  display: none !important;
}

.mobile-menu-icon.close {
  font-size: 2rem !important;
  top: 15% !important;
  left: 90% !important;
  cursor: pointer !important;
}
.nav-social-media-icons {
  margin-top: 30px;
  display: flex;
  gap: 20px;
}

ul.ReactFlagsSelect-module_selectOptions__3LNBJ.ReactFlagsSelect-module_fullWidthOptions__1XeR6 {
  width: 140% !important;
}

@media screen and (max-width: 768px) {
  .nav-bar {
    justify-content: flex-start !important;
  }

  .nav-elements {
    display: none !important;
  }

  .nav-social-media-icons {
    display: none;
  }

  .nav-bar.mobile-layout {
    flex-direction: column !important;
  }
  .nav-elements.mobile-layout {
    display: block !important;
    margin-bottom: 50px !important;
    transition: 0.2s ease-in-out all !important;
  }

  .nav-elements.mobile-layout ul {
    flex-direction: column !important;
  }

  .nav-elements.mobile-layout ul li {
    padding-bottom: 9px !important;
  }

  .mobile-menu-icon {
    display: block !important;
  }
}
